<!DOCTYPE html>
<html lang="pr-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="imagem/img" href="/img/aba.png" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>Detalhes</title>
  </head>
  <body>
    <header id="icon">
      <a id="pokedexid" href="/"><strong>POKEDEX</strong></a>
      <img src="/img/icone3.gif" width="150" alt="pokebola">
      <img src="/img/pokedex.webp" width="300" alt="pokebola">
      <img src="/img/icone3.gif" width="150" alt="pokebola">
      <a id="cadastroid" href="/new"><strong>CADASTRAR</strong></a>
      
    </header>
      <section>
        <h1 id="detalhes2">DETALHES DO POKEMON</h1>
      </section> 
      <h1 id="detalhes3"><strong></strong> <%= pokemon.nome %> Nº <%= pokemon.id %>  </h1>
      
      <section id="detalhes1">
        <ul>
          <div>
            <img src="<%= pokemon.imagem %>" alt="<%= pokemon.nome %>" width="200"/>
          </div id="detalhesPokemon">
          <div><strong>Descrição:</strong> <%= pokemon.descricao %></div>
          <div><strong>Altura:</strong> <%= pokemon.altura %> M</div>
          <div><strong>Peso:</strong> <%= pokemon.peso %> Kg</div>
          <div><strong>Categoria:</strong> <%= pokemon.categoria %></div>
          <div><strong>Habilidades:</strong> <%= pokemon.habilidade %></div>
        </ul>
      </section>
      <script src="/js/script.js"></script>
  </body>
</html>
