<!DOCTYPE html>
<html lang="pr-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="imagem/img" href="/img/aba.png" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>Detalhes</title>
  </head>
  <body>
    <header id="icon">
      <a id="pokedex" href="/"><strong>POKEDEX</strong></a>
      <img src="/img/icone3.gif" width="150" alt="pokebola">
      <img src="/img/pokedex.webp" width="300" alt="pokebola">
      <img src="/img/icone3.gif" width="150" alt="pokebola">
      <a id="cadastro" href="/cadastro"><strong>CADASTRAR</strong></a>
    </header>
      <section>
        <h1>DETALHES DO POKEMON</h1>
        <p>Detalhes do Pokemon escolhido:</p>
      </section> 
      <section>
        <ul>
          <div>
            <img src="<%= pokemon.imagem %>" alt="<%= pokemon.nome %>" />
          </div id="detalhesPokemon">
          <li><strong>Descrição:</strong> <%= pokemon.descricao %></li>
          <li><strong>Altura:</strong> <%= pokemon.altura %> M</li>
          <li><strong>Peso:</strong> <%= pokemon.peso %> Kg</li>
          <li><strong>Categoria:</strong> <%= pokemon.categoria %></li>
          <li><strong>Habilidades:</strong> <%= pokemon.habilidade %></li>
        </ul>
      </section>
      <script src="/js/script.js"></script>
  </body>
</html>
